/.web-server-pid
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/bin/
/vendor/composer/
/vendor/doctrine/
/vendor/fig/
/vendor/incenteev/
/vendor/jdorn/
/vendor/monolog/
/vendor/paragonie/
/vendor/psr/
/vendor/sensio/
/vendor/sensionlabs/
/vendor/symfony/
/vendor/twig/
/vendor/swiftmailer/
.idea/workspace
/web/uploads/images/
