


    <div class="post-comments">
        <h3 class="post-sub-heading">10 Comments</h3>
        <ul class="media-list comments-list m-bot-50 clearlist">
            {% for commentaireForum in commentaireForums %}
            <!-- Comment Item start-->
            <li class="media">

                <a class="pull-left" href="#">
                    <img class="media-object comment-avatar" src="{{ commentaireForum.user.image }}" alt="" width="50" height="50">
                </a>

                <div class="media-body">
                    <div class="comment-info">
                        <h4 class="comment-author">
                            <a href="#">{{commentaireForum.user}}</a>

                        </h4>
                        <time>July 02, 2015, at 11:34</time>
                        <a class="comment-button" href="#"><i class="tf-ion-chatbubbles"></i>Reply</a>
                    </div>

                    <p>
                       {{commentaireForum.texte}}
                    </p>


                </div>

            </li>
            {% endfor %}
            <!-- End Comment Item -->




        </ul>
    </div>
